<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
</div>

<div>
    <span>Company details</span>
    <hr>
</div>
<!-- Company Settings Form -->
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputCompanyName" class="form-label">Company name</label>
        <input type="text" class="form-control" id="inputCompanyName">
    </div>
    <div class="col-md-6">
        <label for="inputCompanyEmail" class="form-label">Company email</label>
        <input type="email" class="form-control" id="inputCompanyEmail">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
        <label for="inputLogotype" class="form-label">Logotype</label>
        <input type="file" class="form-control" id="inputLogotype">
    </div>
    <div class="col-md-6">
        <label for="inputWebsite" class="form-label">Website</label>
        <input type="text" class="form-control" id="inputWebsite">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div class="mt-4">
    <span>Language preferences</span>
    <hr>
</div>
<!-- Language Settings Form -->
<form class="row g-3">
    <label class="col-md-6">Language</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a language</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div class="mt-4">
    <span>Application</span>
    <hr>
</div>
<!-- Application Settings Form -->
<form class="row g-3">
    <label class="col-md-6">Home Page</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a main home view</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label class="col-md-6">Sales Page</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a main sales view</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label class="col-md-6">Stocks Page</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a main stocks view</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label class="col-md-6">Incomes Page</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a main incomes view</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label class="col-md-6">Outcomes Page</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a main outcomes view</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label class="col-md-6">Profit Page</label>
    <select class="form-select col-md-6" aria-label="Default select example">
        <option selected>Choose a main profit view</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>